#modalSearchMessage.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalSearchMessageTitle", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h5#modalSearchMessageTitle.modal-title メッセージ検索結果
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hisdden" => "true"} ×
      .modal-body.text-left(style="word-wrap: break-word;")
        // モーダルの中身
        .col
        - @search_messages.each do |search_message|
          .message.mb-3.border-bottom
            .d-flex.justify-content-between
              .user_name
                = search_message.user.nickname
              .time
                = search_message.created_at.strftime('%Y/%m/%d')
            .col
              = search_message.message.gsub(params[:message_search_word], "<span class='highlight'>#{params[:message_search_word]}</span>").html_safe
              
              