@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

* {
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

#modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

nav.pagination {
  display:none;
}

.highlight {
  color: red;
  background-color: antiquewhite;
}

.search_result_messages {
  cursor: pointer;
}

.search_result_messages:hover {
  background-color: beige;
}

.active .rounded {
  background-color: gold !important;
}